// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include <dt-bindings/input/input.h>
#include "tegra124.dtsi"
#include "tegra124-xiaomi-mocha-emc.dtsi"
 
/ {
    model = "Xiaomi Mi Pad A0101";
    compatible = "xiaomi,mocha", "nvidia,tegra124";

	aliases {
		rtc0 = "/i2c@7000d000/pmic@58";
		rtc1 = "/rtc@7000e000";
	};

	bat: battery {
		compatible = "simple-battery";
		voltage-min-design-microvolt = <3800000>;
		energy-full-design-microwatt-hours = <24780000>;
		charge-full-design-microamp-hours = <6520000>;
	};

	chosen {
		stdout-path = &uartd;
	};

	cpus {
		cpu@0 {
			vdd-cpu-supply = <&vdd_cpu>;
			enable-method = "psci";
		};

		cpu@1 {
			enable-method = "psci";
		};

		cpu@2 {
			enable-method = "psci";
		};

		cpu@3 {
			enable-method = "psci";
		};
	};

	memory {
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	i2c@7000d000 {
		clock-frequency = <400000>;
		status = "okay";
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;

		fuel-gauge@55 {
			compatible = "ti,bq27520g4";
			reg = <0x55>;
			monitored-battery = <&bat>;
		};

		charger@6b {
			compatible = "ti,bq24192";
			reg = <0x6b>;
			interrupt-parent = <&gpio>;
			interrupts = <72 IRQ_TYPE_LEVEL_HIGH>;
			monitored-battery = <&bat>;
			omit-battery-class;
	
			usb_otg_vbus: usb-otg-vbus { };
		  };
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <400000>;
	};

    uartd: serial@70006300 {
		status = "okay";
	};
};